/* Existing styles */
.about-section {
  padding: 40px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: url('./aboutImages/port.png') repeat-x;
  background-size: auto 100%;
  animation: scrollBg 310s linear infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  perspective: 1200px;
}

.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(1px);
  z-index: -1;
}

@keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -11366px 0;
  }
}

/* Text Animation for 3D Effect */
.about-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 1;
  transform: translateZ(100px);
  transition: transform 0.3s ease;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.about-section p {
  font-size: 1.2rem;
  z-index: 1;
  transform: translateZ(50px);
  transition: transform 0.3s ease;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.about-section:hover h1 {
  transform: translateZ(150px);
}

.about-section:hover p {
  transform: translateZ(75px);
}

/* Styling for the profile photo */
.profile-photo {
  width: 15vw; /* Using viewport width to make the image responsive */
  height: 15vw; /* Same for height to maintain aspect ratio */
  max-width: 200px; /* Maximum size */
  max-height: 200px; /* Maximum size */
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  transition: all 0.3s ease; /* Smooth transition */
}

@media (max-width: 1024px) {
  .about-section {
    padding: 20px;
    background-size: auto 100%;
  }

  .about-section h1 {
    font-size: 2.5rem;
  }

  .about-section p {
    font-size: 1rem;
  }

  .profile-photo {
    width: 20vw; /* Larger photo size on medium screens */
    height: 20vw;
    max-width: 180px;
    max-height: 180px;
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 15px;
    height: auto;
  }

  .about-section h1 {
    font-size: 2rem;
  }

  .about-section p {
    font-size: 1rem;
  }

  .profile-photo {
    width: 25vw; /* Larger photo size on smaller screens */
    height: 25vw;
    max-width: 150px;
    max-height: 150px;
  }
}

@media (max-width: 480px) {
  .about-section {
    padding: 10px;
    background-size: cover;
  }

  .about-section h1 {
    font-size: 1.5rem;
  }

  .about-section p {
    font-size: 0.9rem;
  }

  .profile-photo {
    width: 60vw; /* Even larger photo size on very small screens */
    height: 60vw;
    max-width: 130px;
    max-height: 130px;
  }
}
